@import actionbuilders.UserRequest
@(empls: List[Employee])(implicit request: UserRequest[_], messages: Messages, assets: AssetsFinder, webJarAssets: WebJarAssets)
@layout(messages("Employees")) {
    <div class="normalheader transition animated fadeIn">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="@routes.HomeController.home()">@messages("Home")</a></li>
                        <li class="active">
                            <span>@messages("Employees")</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                @{
                    messages("Employees")
                }
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">


        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">


                        </div>
                    </div>
                    <div class="panel-body">


                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-5">@{
                                        messages("fullName")
                                    }</th>
                                    <th class="col-md-3">@{
                                        messages("phone")
                                    }</th>
                                    <th class="col-md-3">@{
                                        messages("position")
                                    }</th>
                                    <th class="col-md-1">@{
                                        messages("Action")
                                    }</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(e <- empls) {
                                <tr>
                                    <td>@e.fullName</td>
                                    <td>@e.phone</td>
                                    <td>@e.position</td>
                                    <td><a href="@routes.EmployeesController.edit(e.id)"> <i class="pe-7s-pen edit"></i></a>
                                        <span class="size10"></span>
                                        <a href="@routes.EmployeesController.delete(e.id)"> <i class="pe-7s-trash delete"></i></a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="pull-right top-buffer">
                                <a href="@routes.EmployeesController.add()" class="btn btn-primary btn-block">@messages("Add")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
