.capitalize{
    text-transform: capitalize;
}
.panel-body label:first-letter {
    text-transform: uppercase;
}
.size10{
    display: inline-block;
    width: 10px;
}

#tableWrapper {
    height: 250px;
    /*width: 700px;*/
    overflow: auto;
    position: relative;
}

#tableWrapper table {
    border-collapse: collapse;
}

.pointer {
    cursor: pointer;
}

.goodOption{
    font-weight: bold;
}

.goodPath{
    font-size: 11px;
}

.no-padding-right{
    padding-right: 0;
}

span.fancytree-title {
    cursor: auto !important;
}

.editable{
    cursor: pointer;
    background-color: #fff6ce;
}