@import actionbuilders.UserRequest
@import helper._
@(form: Form[GoodFormClass], units: List[Unit])(implicit request: UserRequest[_], messages: Messages)
@implicitField = @{
    FieldConstructor(views.html.input_helper.f)
}
@rawInputHelper = @{
    FieldConstructor(views.html.input_helper_raw.f)
}

@form.globalError.map { error =>
    <div class="row bottom-buffer top-buffer text-center">
        <small class="alert alert-danger">@error.message</small>
    </div>
}
@helper.form(action = routes.GoodsController.doAddGood(), args = 'method -> "post", 'autocomplete -> "off", 'class -> "form-horizontal top-buffer") {
    @helper.inputText(form("title"), 'class -> "form-control input-sm")
    @if(units.nonEmpty) {
        @helper.select(form("unitId"), units.map(e => (e.id.toString, e.title)), 'class -> "form-control", '_label -> messages("Units"), '_help -> messages("Units.for.good"), '_selected -> {
            if(form.hasErrors && units.exists(_.id == form.data("unitId").toLong)) units.filter(_.id == form.data("unitId").toLong).head.title else units.head.title
        })
    } else {
        @helper.select(form("unitId"), units.map(e => (e.id.toString, e.title)), 'class -> "form-control", '_label -> messages("Units"), '_help -> messages("Units.for.good"))
    }
    @helper.inputText(form("barcode"), 'class -> "form-control input-sm")
    @helper.inputText(form("code"), 'class -> "form-control input-sm")
    @helper.inputText(form("id"), 'type -> "hidden")(rawInputHelper, messages)
    @helper.inputText(form("parentId"), 'type -> "hidden")(rawInputHelper, messages)
    @CSRF.formField
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 top-buffer">
            <button class="btn btn-default btn-block btnClear">@messages("Clear")</button>
        </div>               <div class="col-sm-4 col-sm-offset-2 top-buffer">
        <button class="btn btn-primary btn-block ladda-button btnSubmit" data-style="expand-down">
            <span class="ladda-label">@{
                form("id").value.map(_ => messages("Edit")).getOrElse(messages("Add"))
            }</span>
        </button>
    </div>
    </div>
}