@import actionbuilders.UserRequest
@import helper._
@(form: Form[GoodFormClass], units: List[Unit])(implicit request: UserRequest[_], messages: Messages, assets: AssetsFinder, webJarAssets: WebJarAssets)
@implicitField = @{
    FieldConstructor(views.html.input_helper.f)
}
@rawInputHelper = @{
    FieldConstructor(views.html.input_helper_raw.f)
}
@layout(messages("Edit.good")) {

    <div class="normalheader transition animated fadeIn">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="@routes.HomeController.home()">@messages("Home")</a></li>
                        <li><a href="@routes.GoodsController.list()">@messages("Goods")</a></li>
                        <li class="active">
                            <span>@messages("Edit.good")</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    @{
                        messages("Edit.good")
                    }: @{
                    form("title").value.getOrElse("")
                }
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">


        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">


                        </div>
                    </div>
                    <div class="panel-body">

                        @form.globalError.map { error =>
                            <div class="row bottom-buffer top-buffer text-center">
                                <small class="alert alert-danger">@error.message</small>
                            </div>
                        }
                        @helper.form(action = routes.GoodsController.doEditGood(), args = 'method -> "post", 'autocomplete -> "off", 'class -> "form-horizontal top-buffer") {
                            @helper.inputText(form("title"), 'class -> "form-control")
                            @if(units.nonEmpty) {
                                @helper.select(form("unitId"), units.map(e => (e.id.toString, e.title)), 'class -> "form-control", '_label -> messages("Units"), '_help -> messages("Units.for.good"), '_selected -> {
                                    if(form.hasErrors && units.exists(_.id == form.data("unitId").toLong)) units.filter(_.id == form.data("unitId").toLong).head.title else units.head.title
                                })
                            } else {
                                @helper.select(form("unitId"), units.map(e => (e.id.toString, e.title)), 'class -> "form-control", '_label -> messages("Units"), '_help -> messages("Units.for.good"))
                            }
                            @helper.inputText(form("barcode"), 'class -> "form-control")
                            @helper.inputText(form("code"), 'class -> "form-control")
                            @helper.inputText(form("id"), 'type -> "hidden")(rawInputHelper, messages)
                            @helper.inputText(form("parentId"), 'type -> "hidden")(rawInputHelper, messages)
                            @CSRF.formField
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-2 top-buffer">
                                    <button class="btn btn-default btn-block btnClear">@messages("cancel")</button>
                                </div>               <div class="col-sm-4 col-sm-offset-2 top-buffer">
                                <button class="btn btn-primary btn-block btnSubmit">
                                    <span>@messages("save")</span>
                                </button>
                            </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}