@import actionbuilders.UserRequest
@import helper._
@()(implicit request: UserRequest[_], messages: Messages, assets: AssetsFinder, webJarAssets: WebJarAssets)
@layout(messages("Goods")) {
    <div class="normalheader transition animated fadeIn">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="@routes.HomeController.home()">@messages("Home")</a></li>
                        <li class="active">
                            <span>@messages("Goods")</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                @{
                    messages("Goods")
                }
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">


        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-7 top-buffer">
                                <div class="form-group form-horizontal">
                                    <label class="col-sm-2 control-label">@messages("Search")</label>
                                    <div class="col-sm-10">
                                        <div class="input-group m-b"><span class="input-group-btn">
                                            <button type="button" class="btn btn-primary" disabled id="clearFilter">
                                                x</button> </span>
                                            <input type="text" class="form-control" id="searchInput">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="tableWrapper">
                            <table id="goods-tree" class="table table-striped table-bordered">
                                <thead>
                                    <tr><th class="col-md-1">#</th>
                                        <th class="col-md-4">@messages("Name")</th>
                                        <th class="col-md-2">@messages("code")</th>
                                        <th class="col-md-3">@messages("barcode")</th>
                                        <th class="col-md-1">@messages("Unit.short")</th>
                                        <th class="col-md-1">@messages("Action")</th> </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td> <i class="pe-7s-pen edit pointer"></i><span class="size10"></span><i class="pe-7s-trash delete pointer"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 top-buffer">
                                <h4>@messages("Add.category")</h4>
                                <div class="hpanel">
                                    <div class="panel-heading">
                                    @messages("If.category.in.the.list.selected.new.category.will.become.subcategory.of.selected")
                                    </div>
                                    <div class="panel-body">
                                        <div class="top-buffer" id="addFolderFormPlacement">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-7 top-buffer">
                                <h4>@messages("Add.good")</h4>
                                <div class="hpanel">
                                    <div class="panel-heading">
                                    @messages("Select.category.in.the.list.first")
                                    </div>
                                    <div class="panel-body">
                                        <div class="top-buffer" id="addGoodFormPlacement">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    @CSRF.formField
                </div>
            </div>
        </div>
    </div>
    </div>
}
