@import actionbuilders.UserRequest
@import helper._

@(form: Form[UnitValidator])(implicit request: UserRequest[_], messages: Messages, assets: AssetsFinder, webJarAssets: WebJarAssets)
@implicitField = @{
    FieldConstructor(views.html.input_helper.f)
}
@layout(messages("Add.unit")) {

    <div class="normalheader transition animated fadeIn">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="@routes.HomeController.home()">@messages("Home")</a></li>
                        <li><a href="@routes.UnitsController.list()">@messages("Units")</a></li>
                        <li class="active">
                            <span>@messages("Add.unit")</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                @{
                    messages("Add.unit")
                }
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">


        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">


                        </div>
                    </div>
                    <div class="panel-body">
                        @form.globalError.map { error =>
                            <div class="row bottom-buffer top-buffer text-center">
                                <small class="alert alert-danger">@error.message</small>
                            </div>
                        }
                        @helper.form(action = routes.UnitsController.doAdd(), args = 'method -> "post", 'autocomplete -> "off", 'class -> "form-horizontal top-buffer") {
                            @helper.inputText(form("title"), 'class -> "form-control")
                            @CSRF.formField
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-2 top-buffer">
                                    <a href="@routes.UnitsController.list()" class="btn btn-default btn-block">@messages("cancel")</a>
                                </div>               <div class="col-sm-3 col-sm-offset-2 top-buffer">
                                <button class="btn btn-primary btn-block">@messages("Add")</button>
                            </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
}