@import actionbuilders.UserRequest
@import helper._
@import validators.Folder
@(form: Form[Folder], saveRoute: Call)(implicit request: UserRequest[_], messages: Messages)
@implicitField = @{
    FieldConstructor(views.html.input_helper.f)
}
@rawInputHelper = @{
    FieldConstructor(views.html.input_helper_raw.f)
}

@form.globalError.map { error =>
    <div class="row bottom-buffer top-buffer text-center">
        <small class="alert alert-danger">@error.message</small>
    </div>
}
@helper.form(action = saveRoute, args = 'method -> "post", 'autocomplete -> "off", 'class -> "form-horizontal top-buffer") {
    @helper.inputText(form("title"), 'class -> "form-control input-sm")
    @helper.inputText(form("id"), 'type -> "hidden")(rawInputHelper, messages)
    @CSRF.formField
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 top-buffer">
            <button class="btn btn-default btn-block btnClear">@messages("Clear")</button>
        </div>
        <div class="col-sm-4 col-sm-offset-2 top-buffer">
            <button class="btn btn-primary btn-block btnSubmit">@messages("Add")</button>
        </div>
    </div>
}