@(elements: helper.FieldElements)
<div class="form-group">
    <label class="control-label col-sm-3 text-left" for="@elements.id-picker">@elements.label</label>
    <div class="col-sm-9">
        <div class="input-group date" id="@elements.id-picker" data-target-input="nearest" data-date-format="YYYY-MM-DD">
            <span class="input-group-addon" data-target="#@elements.id-picker" data-toggle="datetimepicker">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            @elements.input
        </div>
        <span class="help-block m-b-none @if(elements.hasErrors) { alert alert-danger}">@elements.errors.mkString(", ")</span>
    </div>
</div>