@import actionbuilders.UserRequest
@import helper._
@import validators.Folder
@(form: Form[Folder], saveRoute: Call, listRoute: Call, listTitle: String, editTitle: String)(implicit request: UserRequest[_], messages: Messages, assets: AssetsFinder, webJarAssets: WebJarAssets)
@implicitField = @{
    FieldConstructor(views.html.input_helper.f)
}
@rawInputHelper = @{
    FieldConstructor(views.html.input_helper_raw.f)
}
@layout(messages(editTitle)) {

    <div class="normalheader transition animated fadeIn">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="@routes.HomeController.home()">@messages("Home")</a></li>
                        <li><a href="@listRoute">@messages(listTitle)</a></li>
                        <li class="active">
                            <span>@messages(editTitle)</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    @messages(editTitle): @{
                    form("title").value.getOrElse("")
                }
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">


        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">


                        </div>
                    </div>
                    <div class="panel-body">
                        @form.globalError.map { error =>
                            <div class="row bottom-buffer top-buffer text-center">
                                <small class="alert alert-danger">@error.message</small>
                            </div>
                        }
                        @helper.form(action = saveRoute, args = 'method -> "post", 'autocomplete -> "off", 'class -> "form-horizontal top-buffer") {
                            @helper.inputText(form("title"), 'class -> "form-control")
                            @helper.inputText(form("id"), 'type -> "hidden")(rawInputHelper, messages)
                            @CSRF.formField
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-2 top-buffer">
                                    <a href="@listRoute" class="btn btn-default btn-block">@messages("cancel")</a>
                                </div>               <div class="col-sm-3 col-sm-offset-2 top-buffer">
                                <button class="btn btn-primary btn-block">@messages("save")</button>
                            </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
}