@(elements: helper.FieldElements)
<div class="form-group">
    <label class="control-label col-sm-3 text-left" for="@elements.id">@elements.label</label>
    <div class="col-sm-9">
        @elements.input
    <span class="help-block m-b-none @if(elements.hasErrors) { alert alert-danger}">@elements.errors.mkString(", ")</span>
    </div>
    <div class="hr-line-dashed"></div>
</div>