@(elements: helper.FieldElements)
<label class="control-label col-sm-3 text-left" for="@elements.id">@elements.label</label>
<div class="col-sm-3">
    @elements.input
<span class="help-block m-b-none @if(elements.hasErrors) { alert alert-danger}">@elements.infos.mkString(", ")</span>
</div>